.card-container {
    border-radius: 10px;
    max-width: 1000px;
    width: 80%;
    margin: 100px auto;
}

.card-cnt-top {
    display: grid;
    grid-template-columns: auto auto;
}

.card-cnt-bottom {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 600px) {
    .card-container {
        margin-top: 40px;
    }
    .card-cnt-top {
        display: flex;
        flex-direction: column;
    }
    .card-cnt-bottom {
        display: flex;
        flex-direction: column;
    }
}