.card {
    border: 1px solid rgba(123, 167, 173, 0.123);
    background: rgba(255, 255, 255, 0.044);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.card div {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card p {
    color: rgba(255, 255, 255, 0.573);
}

.card h2 {
    font-weight: 400;
    margin-bottom: 20px;
    /* color: rgb(100, 169, 169); */
}

.card:hover {
    background-color: rgba(114, 141, 150, 0.235);
}

/* .card:hover h2 {
    color: rgb(255, 255, 255);
} */