.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.info {
    border: solid #4c7482b9 1px;
    border-radius: 10px;
    padding: 10px;
    max-width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info p {
    color: #6da4b8b9;
    font-weight: 400;
}

.chart-container {
    margin-top: 40px;
}

.subtitle {
    font-size: 1.2rem;
    color: #ffffff94;
    margin-bottom: 30px;
    text-align: left;
}